* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(219, 7, 0);
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.logo {
  max-width: 300px;
}

.header-content {
  color: white;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.header-content img {
  height: 60px;
  margin-left: 20px;
}

nav {
  margin-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-left: 10px;
  margin-right: 50px;
  font-family: sans-serif;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
  background-color: rgb(185, 6, 0);
  padding: 10px;
}

nav li a:hover {
  color: rgb(194, 193, 193);
}

nav li a.current {
  font-weight: bold;
}

.NisseBilde {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
  margin: 0 auto;
  display: block;
  max-width: 60%;
  height: auto;
}

footer {
  background-color: rgb(219, 7, 0);
  color: white;
  padding: 20px;
  text-align: left;
}

.footer.content {
  font-family: sans-serif;
}

main a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
  background-color: rgb(185, 6, 0);
  padding: 10px;
}

.kjøp {
  background-color: #0a8000;
  font-family: sans-serif;
  font-size: 50px;
  padding: 20px;
  transition: 0.5s;
}

.kjøp:hover {
  color: rgb(194, 193, 193);
}

li {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.handlekurv{
  margin: 0;
  padding: 0;
}

.underkonstruksjon{
  height: 500px;
  width: auto;
}
